<header class="header">
    <div class="logo cp" [routerLink]="'./home'">
        <mat-icon>security</mat-icon> &nbsp;
        <div> SS Nets & Grills</div>
    </div>
    <nav [class.open]="isMenuOpen" class="nav-links">
        <ul>
            <li *ngFor="let item of navItems">
                <a [routerLink]="item.link" (click)="closeMenu()" class="nav-item">
                    <span class="icon"><mat-icon>{{ item.icon }}</mat-icon></span>
                    <span class="label">{{ item.name }}</span>
                </a>
            </li>
        </ul>
    </nav>

    <button class="menu-toggle" (click)="toggleMenu()">
        <span *ngIf="!isMenuOpen"><mat-icon>menu</mat-icon></span>
        <span *ngIf="isMenuOpen"><mat-icon>close</mat-icon></span>
    </button>
</header>